<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Juan Sett Portfolio | Projects</title>
    </head>
    <body>
        <section class="header">
            <div>
                <h1>These Are My Projects</h1>
            </div>
        </section>
    


        <section class="project-detail1">
            <div>

            </div>
        </section>

        <section class="project-detail2">

        </section>

    </body>
</html>